<footer class="site-footer">
  <div class="container">
    <small class="pull-left">&copy;{{ site.time | date: '%Y' }} All rights reserved. Made with <a href="http://jekyllrb.com/" target="_blank">Jekyll</a> and ♥, based on <a href="https://github.com/nandomoreirame/simplest" target="_blank">simplest</a> theme</small>
    <small class="pull-right">by <a href="http://dc20e6.ru/" target="_blank">dc20e6</a></small>
  </div>
</footer>
