<section class="intro">
  <div class="container">
    <p class="lead">Привет, это <strong class="author-name" itemprop="name">{{ site.author.name }}</strong> и в нашем online-ПАБе говорят про ИБ и обо всем в что мире, а еще мы пьем (что именно -- это на ваш вкус, но помните алкоголь вредит вашему здоровью;). {{ site.author.bio }} -- <a href="{{ '/calendar' | prepend: site.baseurl }}">смотри календарь</a></p>
    <p>Конечно же наш паб открыт для всех :) <a href="https://forms.gle/An9aQH6AZhzgTUfr8" target="_blank">А если напишите нам откуда вы</a> то скоро появится карта со списком сообществ/чатиков и сайтов, откуда к нам гости приходили %) Все как в настоящем пабе!</p>
  </div>
</section>
